aside {
    background: grey;
    position: relative;
    margin-top: 100;
    margin-bottom: auto;
    width: 200px;
    height: 590px;
    
    
    
}

aside h3{
    background: lightblue;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20%;
    
}

aside ul {
    list-style: none;
    overflow: hidden;
}

aside ul li {
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20x;
    font-style: italic;
    padding: 8%;
}

aside ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
    
}

aside ul li:hover{
    background-color: lightseagreen;
}


